#header{
	width:1200px;
	margin:0 auto;
}
ul{
	padding:0;
	margin:0;
	list-style:none;
}
a{
	text-decoration:none;
	color:#A4A4A4;
}
 a:hover{
	color:#00BBE7;
}
ul.list-left{
	float:left;
	height:20px;
}
ul.list-left>li{
	float:left;
	font-size:14px;
	margin-left:15px;
}
ul.list-left>li>a{
	text-decoration:none;
}
/*左侧列表的样式*/
ul.list-left li:first-child{
	margin-top:11px;
}
ul.list-left li:not(:first-child):before{
	content:"";
	width:1px;
	height:10px;
	display:block;/*加了这个属性 | 才出现的*/
	background:#e4e4e4;
	position:relative;
	top:13px;
	left:-7px;
}

ul.list-left li.dropdown>div>a.more{
	display:block;
	width:80px;
	height:25px;
	background:#fff;
	z-index:100;
	position:absolute;
	padding:0 5px;
	box-sizing:border-box;
	margin-top:-2px;
}
ul.list-left li.dropdown>div:hover>a{
border:1px solid #efefef;
	border-bottom:none;
	text-decoration:none;
}
ul.list-left li.dropdown>div a.more:after{
	content:"";
	position:relative;
	left:5px;
	top:9px;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-color:#999;
}
ul.list-left>li.dropdown>div>div.dropdown-menu{
	position:absolute;
	left:0px;
	top:31px;
	display:none;
	background:#fff;
	width:150px;
	border:1px solid #ededed;
	box-shadow:0 2px 6px 0 #dedede;
	text-align:center;
	z-index:99;
}
ul.list-left>li.dropdown{
	position:relative;
}
ul.list-left>li.dropdown>div>div.dropdown-menu>ul>li{
	font-size:14px;
	margin-bottom:20px;
}
ul.list-left li.dropdown>div:hover>div.dropdown-menu{
	display:block;
	margin-top:-1px;
	z-index:9;
}
ul.list-left li.dropdown>div>div.dropdown-menu>div.code a{
	display:block;
	width:110px;
	height:110px;
	margin-top:15px;
}
ul.list-left li.dropdown>div>div.dropdown-menu>div.code a>img{
	margin-top:10px;
	padding-left:35px;
}
ul.list-left li.dropdown>div>div.dropdown-menu>div.code>p{
	padding-bottom:20px;
}
ul.list-right{
	float:right;
	position:relative;
	right:90px;
}
ul.list-right li{
	float:left;
	font-size:14px;
	margin-right:5px;
}
ul.list-right>li>a{
	text-decoration:none;
}
ul.list-right li:not(:first-child):before{
	content:"";
	width:1px;
	height:10px;
	display:block;
	background:#e4e4e4;
	position:relative;
	top:13px;
}
ul.list-right li:first-child{
	margin-top:10px;
}
ul.list-right>li.dropdown1>div.drop{
	position:relative;
}
ul.list-right>li.dropdown1>div.drop>a.cart{
	display:block;
	width:100px;
	height:30px;
	background:#fff;
	position:absolute;
	z-index:100;
	padding-left:25px;
}
div.drop>a.cart:before{
	content:"";
	width:14px;
	height:14px;
	display:block;
	position:absolute;
	top:1px;
	left:6px;
	background:url(../img/honor/icon-header.png) no-repeat;
}
ul.list-right>li.dropdown1>div.drop:hover>a.cart{
	border:1px solid #dedede;
	border-bottom:none;
}
ul.list-right>li.dropdown1>div.drop>div.dropdown-menu1{
	position:absolute;
	right:-99px;
	top:29px;
	display:none;
	background:#fff;
	width:460px;
	height:230px;
	border:1px solid #dedede;
	box-shadow:0 2px 6px 0 #dedede;
	text-align:center;
	z-index:99;
	padding-top:40px;
}
ul.list-right>li.dropdown1>div.drop:hover>div.dropdown-menu1{
	display:block;
}
div.drop>div.dropdown-menu1>p.c2{
	font-size:14px;
	color:#a4a4a4;
	margin-top:30px;
}
div.drop>div.dropdown-menu1>p.c3>a{
	display:block;
	width:148px;
	height:38px;
	line-height:38px;
	border:1px solid #a4a4a4;
	color:#333;
	text-align:center;
	margin-left:160px;
	margin-top:30px;
}

div.drop>div.dropdown-menu1>p.c3>a:hover{
	border:1px solid #CA141D;
	color:#CA141D;
}
#logo{
	float:left;
	margin-top:10px;
}
#nav{
	float:left;
	margin-left:20px;
	margin-top:20px;
}
#nav li{
	float:left;
	font-size:16px;
	padding:5px;
	margin-left:5px;
	height:30px;
	line-height:30px;
}
#nav>li a{
	color:#333;
	text-decoration:none;
}
#nav li a:hover{
	border-bottom:2px solid #CA141D;
	padding-bottom:5px;
	color:#CA141D;
}

/*搜索框*/
div.search{
	float:right;
	border-bottom:1px solid #A4A4A4;;
	width:300px;
	height:30px;
	margin-top:20px;
	margin-right:10px;
	position:relative;
}
div.search>input.button{
	width:20px;
	height:33px;
	border:none;
	position:absolute;
	top:0px;
	left:275px;
	background:url(../img/honor/icon-header.png) no-repeat;
	
}
div.search>input.button{	
	background-position:0 -18px;
}
div.search>a{
	text-decoration:none;
	background:#F5F5F5;
}
#header-search{
	/*取消边框，宽度高度，透明背景，box-sizing*/
	border:none;
	/*取消轮廓*/
	outline:none;
	width:150px;
	height:30px;
	background:transparent;
	box-sizing:border-box;
}
